<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <title>Future State</title>
    <style>
        body {
            background-color: rgb(251, 253, 253);
          }
        .email-button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: #007BFF;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .email-button:hover {
            background-color: #0056b3;
        }
    </style>
    
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    
    

{% seo %}

    {% include head-custom.html %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        {% if site.github.is_project_page %}
          <!--<a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>-->
          
        {% endif %}
        {% if site.github.is_user_page %}
          <a href="{{ site.github.owner_url }}" class="button"><small>Follow me on</small> GitHub</a>
        {% endif %}
      </div>
      <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="contactUS.html">Contact</a></li>
            <li><a href="what-can-we-do-for-you.html">What Can We Do for You?</a></li> <!-- Active page -->
        </ul>
    </nav>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
          <h1>What Can We Do for You?</h1>
        <p>Welcome to the "What Can We Do for You?" section! Here, I offer a range of services tailored to your needs.</p>
        <p>Please feel free to explore and let me know how I can assist you. Whether you need help with identity solutions, automation, or security, I'm here to provide the support you need.</p>
        <h2>Services Offered</h2>
        <ul>
            <li>Identity and Access Management</li>
            <li>Cloud Administration</li>
            <li>Automation Strategies</li>
            <!--<li>Regulatory Audits and Compliance</li>-->
            <!--<li>PowerShell Automation</li>-->
            <li>Jira and Atlassian procedures</li>
        </ul>
    </main>
        </section>

        <aside id="sidebar">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="button">
              <small>Download</small>
              .zip file
            </a>
            <a href="{{ site.github.tar_url }}" class="button">
              <small>Download</small>
              .tar.gz file
            </a>
          {% endif %}

          {% if site.github.is_project_page %}
            
          {% endif %}
          <!--<a href="{{ site.github.repository_url }}" class="button"><small>Contact Me</small>tom.hubbard@futurestate.tech</a>-->
          <a href="mailto:fsteam@futurestate.tech" class="email-button">tom.hubbard@futurestate.tech</a>
          <!-- modify this form HTML and place wherever you want your form -->
<form
action="https://formspree.io/f/mdknewzg"
method="POST"
>
<label>
  Your email:
  <input type="email" name="email">
</label>
<label>
  How can we help you?:
  <textarea name="message"></textarea>
</label>
<!-- your other form fields go here -->
<button type="submit">Contact Us!</button>
</form>
          <!--<img src="../_assets/OrganizedComputer.jpg" alt="An image of an organized section of a laptop keyboard with a human using it.">-->

          <!--<p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</p>-->
        </aside>
      </div>
    </div>
    <footer>
        <small>
            <p class="repo-owner"><!--<a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a>-->This site is maintained by the Future State LLC team<!--<a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}--></a>.</p>
            <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</p>
        </small>
      </footer>
  </body>
</html>